body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 235, 255);
}

.calculator {
    border: 10px solid black;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: rgb(221, 239, 255);
    font-size: 65px;
    border: 8px solid rgb(1, 163, 14);
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.buttons {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
    display: flex;
    flex: 1;
    gap: 4px;
}

button {
    border: 5px solid rgb(43, 53, 63);
    border-radius: 75px;
    display: flex;
    width: 75px;
    padding: 15px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgb(1, 163, 14);
}

button:active {
    background-color: white;
    outline: none;
}

.equal {
    width: 150px;
    background-color: rgb(212, 212, 1);
}

.equal:hover {
    background-color: rgb(255, 255, 103);
}

.equal:active {
    background-color: rgb(212, 212, 1);
    outline: none;
}

.delete, .clear
{
    background-color: lightcoral;
}

.delete:hover, .clear:hover
{
    background-color: rgb(214, 0, 0);
}

.delete:active, .clear:active {
    background-color: lightcoral;
}

.multiply,
.divide,
.plus,
.minus {
    background-color: rgb(150, 150, 150);
}